{% extends 'memec/base.html' %}
{% load static %}
{% block customcss %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
<!--Main layout-->
<main style="margin-top: 58px">
    <div class="container pt-4">
        <!-- Section: Main chart -->
        <section class="mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table
                        table-hover	
                        align-middle">
                            <thead>
                                <tr>
                                    <th class="text-center">Сообщение</th>
                                    <th class="text-center">Дата</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for alert in alerts %}
                                <tr>
                                    <td
                                        class="text-center fw-bold {% if alert.type == 0 %}success{% endif %} {% if alert.type == 1 %}warning{% endif %} {% if alert.type == 2 %}error{% endif %}">
                                        {% if alert.msg %}
                                        {{alert.msg}}
                                        {% else %}
                                        Нет данных
                                        {% endif %}
                                    </td>
                                    <td
                                        class="text-center fw-bold {% if alert.type == 0 %}success{% endif %} {% if alert.type == 1 %}warning{% endif %} {% if alert.type == 2 %}error{% endif %}">
                                        {% if alert.ts %}
                                        {{alert.ts|date:'d.m.Y'}} {{alert.ts|time:'H:i' }}
                                        {% else %}
                                        Нет данных
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{% url 'report_view' %}" method="GET">
                                            <input type="hidden" name="id" value="{{alert.report_id}}">
                                            <input type="hidden" name="port" value="{{alert.port}}">
                                            <button type="submit" class="btn btn-primary btn-sm"
                                                {% if alert.report_id is None %} disabled {% endif %}
                                                formtarget="_blank">
                                                {% if alert.type == 2 %}
                                                Заявка на ремонт
                                                {% else %}
                                                Открыть
                                                {% endif %}
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; Первый</a>
                                <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
                                {% endif %}

                                <span class="current">
                                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                                </span>

                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">Вперед</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">Последний &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </section>
</main>
<!--Main layout-->
{% endblock content %}