<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-block sidebar collapse bg-white">
        <div class="position-sticky mb-3">
            <div class="list-group list-group-flush mx-3 mt-4">
                {% url 'main' as main %}
                {% url 'reports' as reports %}
                {% url 'alerts' as alerts %}
                {% url 'report_view' as report_view %}
                {% url 'release_production' as release %}
                <a href="{% url 'main' %}"
                    class="list-group-item list-group-item-action {% if main == request.path %}active{% endif %} mb-2"
                    aria-current="true">
                    <div class="d-flex">
                        <span class="material-icons-outlined me-2">
                            list_alt
                        </span>
                        <span>Заказы</span>
                    </div>
                </a>
                <a href="{% url 'release_production' %}"
                    class="list-group-item list-group-item-action {% if release == request.path %}active{% endif %} mb-2"
                    aria-current="true">
                    <div class="d-flex">
                        <span class="material-icons-outlined me-2">
                            inventory_2
                        </span>
                        <span>Сдача продукции</span>
                    </div>
                </a>
                <a href="{% url 'reports' %}"
                    class="list-group-item list-group-item-action {% if reports == request.path %}active{% endif %} mb-2"
                    aria-current="true">
                    <div class="d-flex">
                        <span class="material-icons-outlined me-2">
                            description
                        </span>
                        <span>Документы</span>
                    </div>
                </a>
                <a href="{% url 'alerts' %}"
                    class="list-group-item list-group-item-action {% if alerts == request.path %}active{% endif %} mb-2"
                    aria-current="true">
                    <div class="d-flex">
                        <span class="material-icons-outlined me-2">
                            notifications
                        </span>
                        <span>Оповещения</span>
                    </div>
                </a>
                <div class="mb-5"></div>
                <a href="{% url 'signout' %}" class="list-group-item list-group-item-action mb-2" aria-current="true">
                    <div class="d-flex">
                        <span class="material-icons-outlined me-2">
                            logout
                        </span>
                        <span>Выход</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <i class="text-center">inspired by Embarcadero Delphi</i>
        </div>

    </nav>
    <!-- Sidebar -->
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand d-flex justify-content-center" href="{% url 'main' %}">
                <i class="material-icons-outlined md-36">settings</i>
                <div class="text-center">AUMANU</div>
            </a>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>