{% extends 'memec/base.html' %}
{% load static %}
{% block customcss %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black bg-main">
        <div class="px-5 ms-xl-4">
          <i class="material-icons-outlined md-36">settings</i>
          <span class="h1 fw-bold mb-0">AUMANU</span>
        </div>
        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
          <form style="width: 23rem;" method="POST" action="{% url 'signin' %}">
            {% csrf_token %}
            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Авторизация</h3>
            <div class="form-outline mb-3">
              <label class="form-label" for="login">Логин</label>
              <input type="text" name="login" id="login" class="form-control" required />
            </div>
            <div class="form-outline mb-3">
              <label class="form-label" for="password">Пароль</label>
              <input type="password" name="password" id="password" class="form-control" required />
            </div>
            <div class="pt-1 mb-4">
              <button class="btn btn-primary btn-lg" type="submit">Войти</button>
            </div>
            <i>inspired by Embarcadero Delphi</i>
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
          </form>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://cdn.midjourney.com/4c3cf2d0-fd7f-4bb2-9f9f-d8faafa10bb4/grid_0.webp" alt="Login image"
          class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>
{% endblock content %}